@import "tailwindcss";

img {
    pointer-events: none;
}


@keyframes disputeBulle {
    0% { transform: translate(0); }
    5% { transform: translate(-2px, 2px); }
    10% { transform: translate(2px, -2px); }
    15% { transform: translate(-2px, -2px); }
    20% { transform: translate(2px, 2px); }
}

.vibrate {
    animation: disputeBulle 1s linear infinite;
}
